<title>Delete</title>
<link
      rel="stylesheet"
      href="/css/style.css"
    />
<body>
    <h1>Delete a Venue</h1>
     <div class="home"><a href="/">Home</a></div>  
    <div>
<form class="formform" name="venueForm" action="/delete" method="POST">

 <table class="table" align="left">
                <tr class="formform"><td>Name:</td> <td><input type="text" name="name"></td> </tr>
                <tr class="formform"><td>Location:</td> <td><input type="text" name="location"></td> </tr>
                <tr class="formform"><td>URL:</td> <td><input type="text" name="URL"></td> </tr>
                <tr class="formform"><td>Details:</td> <td><input type="text" name="details"></td> </tr>
                <tfoot ><tr><td><input class="button" type="submit" value="Delete"></td></tr></tfoot>
            </table>
        </form>   
        </div>
 

</body>
</html>