<link
      rel="stylesheet"
      href="/css/style.css"
    />
<body>
      <h1>Edit a Venue</h1>
      <div class="home"><a href="/">Home</a></div> 
<form class= "formform" name="venueForm" action="/edit" method="POST">
<p>Information To Change</p>
<div class="nav">
<table align="left" display="inline-block">
                <tr class="edit"><td>Name:</td> <td><input type="text" name="name"></td> </tr>
                <tr class="edit"><td>Image:</td> <td><input type="text" name="Image"></td> </tr>
                <tr class="edit"><td>Location:</td> <td><input type="text" name="location"></td> </tr>
                <tr class="edit"><td>URL:</td> <td><input type="text" name="URL"></td> </tr>
                <tr class="edit"><td>Details:</td> <td><input type="text" name="details"></td> </tr>
               
            </table>
         
    
        </div>
        <br>
<p>New Information</p>
<div class="nav">
<table align="left" display="inline-block">
                <tr class="edit"><td>Name:</td> <td><input type="text" name="nameTwo"></td> </tr>
                <tr class="edit"><td>Image:</td> <td><input type="text" name="imageTwo"></td> </tr>
                <tr class="edit"><td>Location:</td> <td><input type="text" name="locationTwo"></td> </tr>
                <tr class="edit"><td>URL:</td> <td><input type="text" name="URLTwo"></td> </tr>
                <tr class="edit"><td>Details:</td> <td><input type="text" name="detailsTwo"></td> </tr>
                <tfoot><tr><td><input class="button" type="submit" value="Edit"></td></tr></tfoot>
            </table>
        </form>   
        </div>
       
 
</body>
</html>