{{!-- This will be the page that selected venues are displayed upon --}}
{{!-- Need to render image and venue name with drop down button for details and website --}}
<link
      rel="stylesheet"
      href="/css/style.css"
    />
<body>
   
    <h1>Welcome to Funny Finder! The #1 App For Finding Stanup Venues</h1>
   

    <div>
        <p class="formform">
           <br> <a href="/venues">Venues</a>
        <br> <a href="/search">Search</a>
        <br> <a href="/create">Create</a>
         <br><a href="/edit">Edit</a>
        <br><a href="/delete">Delete</a>
        </p>
    </div>
</div>
</body>
</html>