<link
      rel="stylesheet"
      href="/css/style.css"
    />

    
    <h1>Open Mic Finder</h1>
    <div class="home"><a href="/">Home</a></div> 
    <p>You can search for open mics by name of the venue or the day of the week!
    </p>
    <div class "nav">
        <form class= "formform" name="venueForm" action="/search" method="post">
 <table align="left">
                <tr class= "formform" ><td>Name:</td> <td><input type="text" name="name"></td> </tr>
                <tr class= "formform" ><td>Location:</td> <td><input type="text" name="location"></td> </tr>
                <tr class= "formform" ><td>URL:</td> <td><input type="text" name="URL"></td> </tr>
                <tr class= "formform" ><td>Details:</td> <td><input type="text" name="details"></td> </tr>
                <tfoot><tr><td><input class="button" type="submit" value="Search"></td></tr></tfoot>
            </table>
</form>
    </div>

        

